<main>
  <p-card styleClass="card-adjust mt-5 mx-3">
    <div class="mb-3">
      <span class="title colorTitle">Cadastro de Producação</span>
    </div>
    <div class="flex justify-content-start mb-2">
      <button pButton type="button" class="p-button-primary" icon="pi pi-arrow-left" pTooltip="Volta"
        routerLink="/producoes"></button>
    </div>

    <form #formProducao="ngForm" (ngSubmit)="salvar(formProducao)">
      <div class="grid flex flex-wrap justify-content-center">

        <div class="col-12 mb:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Operadoor</h6>
          <p-dropdown styleClass="dropdown" name="operador" [autoDisplayFirst]="false" #operador="ngModel" filter="true"
            [options]="operadoor" [virtualScroll]="true" [itemSize]="30" optionLabel="label"
            [(ngModel)]="selectedOperador" placeholder="Selecione..." [emptyFilterMessage]="messageDrop"
            [showClear]="true" required></p-dropdown>
          <app-message [control]="operador" error="required" text="Informe o Operador"></app-message>
        </div>

        <div class="col-12 mb:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Funcionario</h6>
          <p-dropdown styleClass="dropdown" name="funcionario" [autoDisplayFirst]="false" #funcionario="ngModel" filter="true"
            [options]="funcionarios" [virtualScroll]="true" [itemSize]="30" optionLabel="label"
            [(ngModel)]="selectedFuncionario" placeholder="Selecione..." [emptyFilterMessage]="messageDrop"
            [showClear]="true" required></p-dropdown>
          <app-message [control]="funcionario" error="required" text="Informe o Funcionario"></app-message>
        </div>

        <div class="col-12 mb:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Produto</h6>
          <p-dropdown styleClass="dropdown" name="produto" [autoDisplayFirst]="false" #produto="ngModel" filter="true"
            [options]="produtos" [virtualScroll]="true" [itemSize]="30" optionLabel="label"
            [(ngModel)]="selectedProduto" placeholder="Selecione..." [emptyFilterMessage]="messageDrop"
            [showClear]="true" required></p-dropdown>
          <app-message [control]="produto" error="required" text="Informe o Produto"></app-message>
        </div>
        <div class="col-12 mb:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Maquina</h6>
          <p-dropdown styleClass="dropdown" name="maquina" [autoDisplayFirst]="false" #maquina="ngModel" filter="true"
            [options]="maquinas" [virtualScroll]="true" [itemSize]="30" optionLabel="label"
            [(ngModel)]="selectedMaquina" placeholder="Selecione..." [emptyFilterMessage]="messageDrop"
            [showClear]="true" required></p-dropdown>
          <app-message [control]="maquina" error="required" text="Informe o Maquina"></app-message>
        </div>
        <div class="col-12 mb:col-6 lg:col-3">
          <h6><span class="obrigatorio">*</span>Quantidade</h6>
          <p-inputNumber [(ngModel)]="producoes.quantidade" mode="decimal" name="quantidade" #quantidade="ngModel"
           inputId="withoutgrouping" [useGrouping]="false" placeholder="Preencha quantidade"> </p-inputNumber>
        </div>
        <div class="col-12 mb:col-6 lg:col-3">
          <span>Cor</span>
          <input type="text" pInputText class="w-full" upperCase name="cor" #cor="ngModel" ngModel [(ngModel)]="producoes.cor" >
          <app-message [control]="cor" error="required" text="Informe o Cor"></app-message>
      </div>

      <div class="col-12 mb:col-6 lg:col-3">
        <span>Perda</span>
        <p-inputNumber [(ngModel)]="producoes.perda" mode="decimal" name="perda" #perda="ngModel"
         inputId="withoutgrouping" [useGrouping]="false" placeholder="Preencha perda"> </p-inputNumber>
        <app-message [control]="perda" error="required" text="Informe o Perda"></app-message>
      </div>

      <div class="col-12 mb:col-6 lg:col-3">
        <span>Tempo da Maquina</span>
        <p-inputNumber [(ngModel)]="producoes.tempomaquina" mode="decimal" name="tempomaquina" #tempomaquina="ngModel"
         inputId="withoutgrouping" [useGrouping]="false" placeholder="Preencha tempo de máquina"> </p-inputNumber>
        <app-message [control]="tempomaquina" error="required" text="Informe o Tempo da Máquina "></app-message>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h6><span class="obrigatorio">*</span>Data Produção</h6>
        <p-calendar styleClass="w-full" name="dataproducao" baseZIndex="99999" appendTo="body" showButtonBar="true" [monthNavigator]="true"
          [yearNavigator]="true" yearRange="1910:2030" dateFormat="dd/mm/yy" [(ngModel)]="producoes.dataproducao"
          #dtproducao="ngModel" [showIcon]="true" required></p-calendar>
        <app-message [control]="dtproducao" error="required" text="Informe a Data Produção"></app-message>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h6><span class="obrigatorio">*</span>Data Previsão</h6>
        <p-calendar styleClass="w-full"  name="dataprevisao" baseZIndex="99999" appendTo="body" showButtonBar="true" [monthNavigator]="true"
          [yearNavigator]="true" yearRange="1910:2030" dateFormat="dd/mm/yy" [(ngModel)]="producoes.dataprevisao"
          #dtprivisao="ngModel" [showIcon]="true" required></p-calendar>
        <app-message [control]="dtprivisao" error="required" text="Informe a Data Previsão"></app-message>
      </div>

      <div class="col-12 mb:col-6 lg:col-3">
        <span>Hora Inicio</span>
        <p-inputMask mask="99:99" [(ngModel)]="producoes.horainicio" mode="decimal" name="horainicio" #horainicio="ngModel"
         inputId="withoutgrouping" mask="99:99"placeholder="Preencha hora de início"></p-inputMask>

        <app-message [control]="horainicio" error="required" text="Informe a Hora Início"></app-message>
      </div>


      <div class="col-12 mb:col-6 lg:col-3">
        <span>Hora Final </span>
        <p-inputMask mask="99:99" [(ngModel)]="producoes.horafinal" mode="decimal" name="horafinal" #horainicio="ngModel"
         inputId="withoutgrouping" mask="99:99"placeholder="Preencha a hora final"></p-inputMask>

      </div>


      <div class="col-12 mb:col-6 lg:col-3">
        <span>Turno</span>
        <input type="text" pInputText class="w-full" upperCase name="turno" #turno="ngModel" ngModel [(ngModel)]="producoes.turno" >
        <app-message [control]="turno" error="required" text="Informe o Turno"></app-message>
    </div>

      <div class="col-12 mb:col-6 lg:col-3">
        <span>Obervação</span>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="producoes.obs" name="obs" #obs="ngModel" ngModel></textarea>
    </div>

      </div>
      <div class="flex justify-content-center">
        <div class="flex align-items-center justify-content-center">
            <h5>Status</h5>
        </div>
    </div>
    <div class="flex justify-content-center">
        <div class="flex align-items-center justify-content-center">
            <p-inputSwitch [(ngModel)]="producoes.status" name="status" [ngModelOptions]="{standalone: true}">

            </p-inputSwitch>
        </div>
    </div>
    <div class="flex flex-wrap justify-content-center mt-4">
        <div class="col-12 md:col-6 lg:col-3">
            <button pButton type="submit" class="p-button-primary w-full" icon="pi pi-save" [disabled]="formProducao.invalid || salvando " pTooltip="Salvar" label="salvar"></button>
        </div>
    </div>
    <div *ngIf="salvando" class="grid flex justify-content-center mt-4">
       <p-progressSpinner  [style]="{widht: '50px', heigth: '50px'}" styleClass="custom-spinner" strokeWidth="8" animation=".5s"> </p-progressSpinner>
       <div class="grid col-12 justify-content-center">
        <h4>Salvando aguarde...</h4>
       </div>
    </div>


    </form>



  </p-card>



</main>