<main>
    <p-card styleClass="card-adjust mt-5 mx-3">
        <h4>Controle de Produção</h4>
        <div class="table-container">
            <p-table #tabela [value]="combinado" [columns]="cols" styleClass="p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th *ngFor="let cols of columns" [ngStyle]="{'min-width': cols.width}">
                            {{ cols.header }}
                        </th>
                            
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <a [routerLink]="['/pcp', item.maquina]">
                                Injetora {{ item.maquina }}
                            </a>
                        </td>
                        <td>{{ item.nomeProduto }}</td>
                        <td>{{ item.atributo }}</td>
                        <td>{{ item.status }}</td>
                        
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
</main>